.container-fluid{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 3px;
    background-color: rgb(255, 245, 232);
    
}

.logo-img{
    width: 130px;
}
.header{
    background-color: rgb(255, 216, 165);
    color: rgb(101, 58, 0);
}
.header-text{
    text-align: center !important; 
    margin-top: 40px;
}
.about-img{
   
    height: 20%;
   border-radius: 10px;
}
.divide{
    padding-right: 90px;
    
    border-right: 1px solid rgb(135, 135, 135);
    
}
.about{
    font-size: 20px;
    color: rgb(101, 58, 0);
}

.left{
    text-align: left;

    }

.page-footer{
    background-color: rgb(255, 216, 165);
}
li{
    font-size: 30px !important;
    
}

#carouselExampleFade{
    left: 5%;
  width: fit-content ;
}

.caro{
    width: 400px;
}

.color{
    color: rgb(19, 19, 17) !important;
}
.product-pic{
    margin-top: -7px;
    width: 400px;
    height: 300px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.col{
    align-items: center;
    text-align: center;
    color:  rgb(101, 58, 0);
}

#Docs{
    background-color: rgb(219, 151, 83);
    width: 106%;
    padding: 7px;
    color: white;
}
.a{
    background-color: rgb(101, 58, 0);
    color: white;
    padding: 5px;
    border-radius: 10px;
    width: max-content;
}